* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --fondo-1: #0C0030;
  --fondo-2: #150445;
  --font-text: 'Questrial', sans-serif;
  --font-tittle: 'Krona One', sans-serif; }

html {
  scroll-behavior: smooth; }

.contain {
  width: 1600px; }

nav {
  background-color: #120439;
  height: 90px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }
  nav .contain-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  nav .logo {
    font-family: var(--font-tittle);
    font-size: 40px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; }
  nav .abrir-menu {
    display: none;
    background: none;
    border: none;
    color: white; }
  nav .menu-links {
    display: flex;
    color: white;
    gap: 2rem;
    font-family: var(--font-text);
    font-size: 23px; }
    nav .menu-links li {
      list-style-type: none; }
    nav .menu-links a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s; }
    nav .menu-links a:hover {
      background-image: radial-gradient(circle farthest-corner at 10% 20%, #b87dff 0%, #68b4ff 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }

.inicio {
  width: 100%;
  min-height: 100vh;
  background: var(--fondo-1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .inicio .contain-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .inicio .sec1-img-redes {
    margin-top: 5rem;
    background-color: #150445;
    padding: 3.6rem;
    border-radius: 1rem; }
  .inicio .sec1-img {
    border: 15px solid #A5B1E0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .inicio .sec1-redes {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 50px; }
    .inicio .sec1-redes a {
      color: white;
      border: 1px solid white;
      border-radius: 100%;
      padding: 10px 15px;
      transition: 0.3s; }
    .inicio .sec1-redes a:hover {
      background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%); }
  .inicio .sec1-texto {
    margin-top: 5rem; }
    .inicio .sec1-texto h2 {
      font-family: var(--font-tittle);
      font-size: 84px;
      margin-bottom: 30px;
      background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .inicio .sec1-texto h3 {
      font-family: var(--font-text);
      font-size: 50px;
      margin-bottom: 30px; }
    .inicio .sec1-texto p {
      font-family: var(--font-text);
      font-size: 35px;
      margin-bottom: 60px; }
    .inicio .sec1-texto a {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      border-radius: 0.5em;
      padding: 1rem;
      font-family: var(--font-text);
      margin-right: 20px;
      font-size: 25px;
      transition: 0.3s; }
    .inicio .sec1-texto a:hover {
      color: white;
      background: radial-gradient(circle farthest-corner at 50.3% 44.5%, #7493b3 0%, #3e5368 100.2%); }

.sobre-mi {
  width: 100%;
  min-height: 100vh;
  background: var(--fondo-2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .sobre-mi h2 {
    font-family: var(--font-tittle);
    font-size: 60px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #ab66ff 0%, #74b6f7 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem; }
  .sobre-mi .seccion2 {
    background: var(--fondo-1);
    color: white;
    padding: 3rem;
    border-radius: 1rem;
    font-size: 30px;
    font-family: var(--font-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem; }
  .sobre-mi .intereses {
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-items: center;
    gap: 1.1rem; }
    .sobre-mi .intereses h2 {
      font-size: 35px;
      margin: 0; }
    .sobre-mi .intereses .inter {
      border: 1px solid white;
      border-radius: 1rem;
      padding: 0.5rem;
      font-size: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      transition: 0.3s; }
    .sobre-mi .intereses .inter:hover {
      background-image: radial-gradient(circle farthest-corner at 10% 20%, #864ad0 0%, #478dd2 90%);
      color: white; }

.habilidades {
  width: 100%;
  min-height: 100vh;
  background: var(--fondo-1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .habilidades h2 {
    text-align: center;
    font-family: var(--font-tittle);
    font-size: 60px;
    background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem; }
  .habilidades .habilidad {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem; }
    .habilidades .habilidad .grid {
      margin-bottom: 20px; }
    .habilidades .habilidad h3 {
      font-family: var(--font-text);
      margin-bottom: 20px;
      font-size: 25px; }
    .habilidades .habilidad .progreso-barra {
      background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
      width: 733px;
      height: 10px; }
  .habilidades .aptitud-text {
    font-size: 30px;
    font-family: var(--font-tittle);
    margin-top: 5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.2px solid white; }
  .habilidades .aptitudes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5rem; }
    .habilidades .aptitudes img {
      width: 80px;
      margin-bottom: 10px; }
    .habilidades .aptitudes p {
      font-family: var(--font-text);
      font-size: 20px; }

.proyectos {
  width: 100%;
  min-height: 100vh;
  background: var(--fondo-2);
  display: flex;
  justify-content: center;
  align-items: center; }
  .proyectos h2 {
    text-align: center;
    font-family: var(--font-tittle);
    font-size: 60px;
    background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 9rem; }
  .proyectos .proyectos-seccion {
    display: flex;
    justify-content: start;
    margin: 4rem 0; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 60%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 0.5rem 0rem 0rem 0.5rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 350px;
      background-color: rgba(0, 0, 0, 0.527);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 0rem 0.5rem 0.5rem 0rem;
      color: white;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 25px;
        font-family: var(--font-tittle);
        background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        margin-top: 2rem;
        font-size: 22px;
        font-family: var(--font-text);
        text-align: center; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 15px;
        font-family: var(--font-text); }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          letter-spacing: 1px;
          font-size: 25px;
          font-weight: 300;
          grid-column: 1/3; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          text-align: center;
          padding: 0.5rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto .html {
          background-color: #ff8902; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto .css {
          background-color: #0550e5; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto .javascript {
          background-color: #000000; }
          .proyectos .proyectos-seccion .cartel .grid-proyecto .javascript i {
            color: #ffe100; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto .sass {
          background-color: #ae569c; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto .bootstrap {
          background-color: #220c61; }
      .proyectos .proyectos-seccion .cartel .visitar {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem; }
        .proyectos .proyectos-seccion .cartel .visitar a {
          color: white;
          text-decoration: none;
          font-family: var(--font-text);
          font-size: 22px; }
        .proyectos .proyectos-seccion .cartel .visitar a:hover {
          background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent; }
  .proyectos .proyecto2 {
    display: flex;
    justify-content: flex-end; }

.contacto {
  width: 100%;
  min-height: 100vh;
  background: var(--fondo-1);
  display: flex;
  justify-content: center; }
  .contacto .contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .contacto .contain h2 {
      font-family: var(--font-tittle);
      font-size: 60px;
      background-image: radial-gradient(circle farthest-corner at 30% 20%, #b67bfe 0%, #56aaff 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; }
    .contacto .contain p {
      color: white;
      font-size: 30px;
      font-family: var(--font-text);
      padding: 0.5rem; }
    .contacto .contain .button-contacto {
      display: flex;
      gap: 5rem; }
    .contacto .contain .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      height: 4rem;
      background-size: 300% 300%;
      backdrop-filter: blur(1rem);
      border-radius: 5rem;
      transition: 0.5s;
      animation: gradient_301 5s ease infinite;
      border: double 4px transparent;
      background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
      background-origin: border-box;
      background-clip: content-box, border-box; }
    .contacto .contain #container-stars {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(1rem);
      border-radius: 5rem; }
    .contacto .contain strong {
      z-index: 2;
      font-family: var(--font-text);
      font-size: 25px;
      letter-spacing: 5px;
      color: #FFFFFF;
      text-shadow: 0 0 4px white;
      font-weight: 200; }
    .contacto .contain #glow {
      position: absolute;
      display: flex;
      width: 12rem; }
    .contacto .contain .circle {
      width: 100%;
      height: 30px;
      filter: blur(2rem);
      animation: pulse_3011 4s infinite;
      z-index: -1; }
    .contacto .contain .circle:nth-of-type(1) {
      background: rgba(254, 83, 186, 0.636); }
    .contacto .contain .circle:nth-of-type(2) {
      background: rgba(142, 81, 234, 0.704); }
    .contacto .contain .btn:hover #container-stars {
      z-index: 1;
      background-color: #212121; }
    .contacto .contain .btn:hover {
      transform: scale(1.1); }
    .contacto .contain .btn:active {
      border: double 4px #FE53BB;
      background-origin: border-box;
      background-clip: content-box, border-box;
      animation: none; }
    .contacto .contain .btn:active .circle {
      background: #FE53BB; }
    .contacto .contain #stars {
      position: relative;
      background: transparent;
      width: 200rem;
      height: 200rem; }
    .contacto .contain #stars::after {
      content: "";
      position: absolute;
      top: -10rem;
      left: -100rem;
      width: 100%;
      height: 100%;
      animation: animStarRotate 90s linear infinite; }
    .contacto .contain #stars::after {
      background-image: radial-gradient(#ffffff 1px, transparent 1%);
      background-size: 50px 50px; }
    .contacto .contain #stars::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 170%;
      height: 500%;
      animation: animStar 60s linear infinite; }
    .contacto .contain #stars::before {
      background-image: radial-gradient(#ffffff 1px, transparent 1%);
      background-size: 50px 50px;
      opacity: 0.5; }

@keyframes animStar {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-135rem); } }

@keyframes animStarRotate {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0); } }

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }

@media screen and (min-width: 1401px) and (max-width: 1730px) {
  .contain {
    width: 90%; }
  .inicio .sec1-img-redes {
    padding: 1.5rem; }
  .inicio .contain-inicio {
    justify-content: center;
    gap: 2rem; }
  .inicio img {
    width: 350px; }
  .inicio .sec1-redes {
    font-size: 2.3rem; }
  .inicio .sec1-texto {
    margin-top: 2rem; }
    .inicio .sec1-texto h2 {
      font-size: 4.15rem; }
    .inicio .sec1-texto h3 {
      font-size: 3rem;
      margin-bottom: 1rem; }
    .inicio .sec1-texto p {
      font-size: 2.1rem;
      margin-bottom: 3rem; }
    .inicio .sec1-texto a {
      font-size: 1.5rem;
      padding: 0.5rem;
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .sobre-mi h2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 3.1rem; }
  .sobre-mi .seccion2 {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 0rem;
    gap: 1rem; }
    .sobre-mi .seccion2 .intereses h2 {
      font-size: 2rem; }
    .sobre-mi .seccion2 .intereses .inter {
      font-size: 1.4rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 6.5rem;
      font-size: 3.1rem; }
    .habilidades .habilidad {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem; }
      .habilidades .habilidad .progreso-barra {
        width: 610px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1rem; }
  .proyectos h2 {
    padding-top: 10rem;
    font-size: 3.1rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 60%;
      border-radius: 0.5rem 0rem 0rem 0.5rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 300px;
      border-radius: 0rem 0.5rem 0.5rem 0rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.5rem; }
      .proyectos .proyectos-seccion .cartel .br-proyecto {
        display: none; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1.25rem;
        margin-top: 1rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.4rem;
          grid-column: 1/3; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.9rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.4rem; }
  .contacto .contain h2 {
    font-size: 2.5rem; }
  .contacto .contain .button-contacto {
    gap: 3rem; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.5rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.5rem; } }

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .contain {
    width: 92%; }
  nav .menu-links {
    font-size: 1.3rem; }
  .inicio .sec1-img-redes {
    padding: 1rem; }
  .inicio .contain-inicio {
    justify-content: center;
    gap: 2rem; }
  .inicio img {
    width: 300px; }
  .inicio .sec1-redes {
    font-size: 2rem; }
  .inicio .sec1-texto {
    margin-top: 2rem; }
    .inicio .sec1-texto h2 {
      font-size: 3.7rem; }
    .inicio .sec1-texto h3 {
      font-size: 2.8rem;
      margin-bottom: 1rem; }
    .inicio .sec1-texto p {
      font-size: 1.9rem;
      margin-bottom: 3rem; }
    .inicio .sec1-texto a {
      font-size: 1.3rem;
      padding: 0.5rem;
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .sobre-mi {
    min-height: calc(100vh + 90px); }
    .sobre-mi h2 {
      margin-top: 4.5rem;
      margin-bottom: 2rem;
      font-size: 2.5rem; }
    .sobre-mi .seccion2 {
      font-size: 1.5rem;
      padding: 1rem;
      margin: 1rem 0rem;
      gap: 1rem; }
      .sobre-mi .seccion2 .intereses h2 {
        font-size: 2rem; }
      .sobre-mi .seccion2 .intereses .inter {
        font-size: 1.4rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 7.5rem;
      font-size: 2.5rem; }
    .habilidades .habilidad {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem; }
      .habilidades .habilidad .progreso-barra {
        width: 535px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1rem; }
  .proyectos h2 {
    padding-top: 8rem;
    font-size: 2.5rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 70%;
      border-radius: 0.5rem 0rem 0rem 0.5rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 100%;
      border-radius: 0rem 0.5rem 0.5rem 0rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.5rem; }
      .proyectos .proyectos-seccion .cartel .br-proyecto {
        display: none; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1.25rem;
        margin-top: 1rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.4rem;
          grid-column: 1/3; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.9rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.4rem; }
  .contacto .contain h2 {
    font-size: 2.5rem; }
  .contacto .contain .button-contacto {
    gap: 3rem; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.5rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.5rem; } }

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .contain {
    width: 92%; }
  nav .menu-links {
    font-size: 1.1rem; }
  .inicio .sec1-img-redes {
    padding: 1rem; }
  .inicio .contain-inicio {
    justify-content: center;
    gap: 2.3rem; }
  .inicio img {
    width: 240px; }
  .inicio .sec1-redes {
    font-size: 2rem; }
  .inicio .sec1-texto {
    margin-top: 2rem; }
    .inicio .sec1-texto h2 {
      font-size: 3.1rem; }
    .inicio .sec1-texto h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem; }
    .inicio .sec1-texto p {
      font-size: 1.6rem;
      margin-bottom: 2rem; }
    .inicio .sec1-texto a {
      font-size: 1.1rem;
      padding: 0.5rem;
      margin: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .sobre-mi h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2.2rem; }
  .sobre-mi .seccion2 {
    font-size: 1.25rem;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0rem;
    gap: 1rem; }
    .sobre-mi .seccion2 .intereses {
      grid-template-columns: repeat(5, auto);
      gap: 0.7rem; }
      .sobre-mi .seccion2 .intereses h2 {
        font-size: 1.5rem;
        grid-column: 1/6; }
      .sobre-mi .seccion2 .intereses .inter {
        font-size: 1.4rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 7.5rem;
      font-size: 2.2rem; }
    .habilidades .habilidad {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem; }
      .habilidades .habilidad .progreso-barra {
        width: 453px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1rem; }
  .proyectos h2 {
    padding-top: 7.5rem;
    font-size: 2.2rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 70%;
      border-radius: 0.5rem 0rem 0rem 0.5rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 100%;
      border-radius: 0rem 0.5rem 0.5rem 0rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.3rem; }
      .proyectos .proyectos-seccion .cartel .br-proyecto {
        display: none; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1.1rem;
        margin-top: 1rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.1rem;
          grid-column: 1/3; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.7rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.2rem; }
  .contacto .contain h2 {
    font-size: 2.2rem; }
  .contacto .contain .button-contacto {
    gap: 3rem; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.3rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.2rem; } }

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contain {
    width: 92%; }
  header nav {
    height: 70px; }
    header nav .logo {
      font-size: 1.8rem; }
    header nav .abrir-menu {
      display: block;
      font-size: 2rem; }
    header nav .menu-links {
      flex-direction: column;
      align-items: end;
      position: fixed;
      top: 70px;
      left: 0;
      padding: 1rem;
      background-color: #120439;
      height: calc(100% - 70px);
      margin: 0;
      left: 100%;
      transition: left 0.3s; }
    header nav .nav-visible {
      left: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
  .inicio {
    padding: 1.5rem 0.5rem; }
    .inicio .contain-inicio {
      flex-direction: column; }
    .inicio .sec1-img-redes {
      padding: 1rem; }
    .inicio img {
      width: 220px; }
    .inicio .sec1-redes {
      font-size: 2rem; }
    .inicio .sec1-texto {
      margin-top: 2rem;
      text-align: center; }
      .inicio .sec1-texto h2 {
        font-size: 2.7rem; }
      .inicio .sec1-texto h3 {
        font-size: 1.9rem;
        margin-bottom: 1rem; }
      .inicio .sec1-texto p {
        font-size: 1.5rem;
        margin-bottom: 2rem; }
      .inicio .sec1-texto a {
        font-size: 1.1rem;
        padding: 0.5rem;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
  .sobre-mi h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 2rem; }
  .sobre-mi .seccion2 {
    font-size: 1.1rem;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0rem;
    gap: 1rem; }
    .sobre-mi .seccion2 .intereses {
      grid-template-columns: repeat(5, auto);
      gap: 0.7rem; }
      .sobre-mi .seccion2 .intereses h2 {
        font-size: 1.5rem;
        grid-column: 1/6; }
      .sobre-mi .seccion2 .intereses .inter {
        font-size: 1.1rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 6rem;
      font-size: 2rem; }
    .habilidades .habilidad {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem; }
      .habilidades .habilidad .progreso-barra {
        width: 337px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1rem; }
  .proyectos h2 {
    padding-top: 6rem;
    font-size: 2rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0;
    flex-direction: column; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0rem 0rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 100%;
      height: 210px;
      border-radius: 0rem 0rem 0.5rem 0.5rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.3rem; }
      .proyectos .proyectos-seccion .cartel .br-proyecto {
        display: none; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1.1rem;
        margin-top: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        grid-template-columns: repeat(3, auto);
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.1rem;
          grid-column: 1/4; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.7rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.2rem; }
  .contacto .contain h2 {
    font-size: 2rem; }
  .contacto .contain .button-contacto {
    gap: 3rem; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.3rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.2rem; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .contain {
    width: 92%; }
  header nav {
    height: 70px; }
    header nav .logo {
      font-size: 1.5rem; }
    header nav .abrir-menu {
      display: block;
      font-size: 2rem; }
    header nav .menu-links {
      flex-direction: column;
      align-items: end;
      position: fixed;
      top: 70px;
      left: 0;
      padding: 1rem;
      background-color: #120439;
      height: calc(100% - 70px);
      margin: 0;
      left: 100%;
      transition: left 0.3s; }
    header nav .nav-visible {
      left: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
  .inicio {
    padding: 2rem 0.5rem; }
    .inicio .contain-inicio {
      flex-direction: column; }
    .inicio .sec1-img-redes {
      padding: 1rem; }
    .inicio img {
      width: 220px; }
    .inicio .sec1-redes {
      font-size: 2rem; }
    .inicio .sec1-texto {
      margin-top: 2rem;
      text-align: center; }
      .inicio .sec1-texto h2 {
        font-size: 2.5rem; }
      .inicio .sec1-texto h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem; }
      .inicio .sec1-texto p {
        font-size: 1.3rem;
        margin-bottom: 2rem; }
      .inicio .sec1-texto a {
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
  .sobre-mi h2 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-size: 1.7rem; }
  .sobre-mi .seccion2 {
    font-size: 1.1rem;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 0rem;
    gap: 1rem; }
    .sobre-mi .seccion2 .intereses {
      grid-template-columns: repeat(5, auto);
      gap: 0.7rem; }
      .sobre-mi .seccion2 .intereses h2 {
        font-size: 1.5rem;
        grid-column: 1/6; }
      .sobre-mi .seccion2 .intereses .inter {
        font-size: 1rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 6rem;
      font-size: 1.7rem; }
    .habilidades .habilidad {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem; }
      .habilidades .habilidad .progreso-barra {
        width: 210px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1.1rem; }
  .proyectos h2 {
    padding-top: 6rem;
    font-size: 1.7rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0;
    flex-direction: column; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0rem 0rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 100%;
      height: 210px;
      border-radius: 0rem 0rem 0.5rem 0.5rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.1rem; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1rem;
        margin-top: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        grid-template-columns: repeat(3, auto);
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.1rem;
          grid-column: 1/4; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.5rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.2rem; }
  .contacto .contain h2 {
    font-size: 1.7rem; }
  .contacto .contain .button-contacto {
    gap: 3rem; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.1rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.2rem; } }

@media screen and (max-width: 480px) {
  .contain {
    width: 92%; }
  header nav {
    height: 70px; }
    header nav .logo {
      font-size: 1.5rem; }
    header nav .abrir-menu {
      display: block;
      font-size: 2rem; }
    header nav .menu-links {
      flex-direction: column;
      align-items: end;
      position: fixed;
      top: 70px;
      left: 0;
      padding: 1rem;
      background-color: #120439;
      height: calc(100% - 70px);
      margin: 0;
      left: 100%;
      transition: left 0.3s; }
    header nav .nav-visible {
      left: 0;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5); }
  .inicio {
    padding: 2rem 0.5rem; }
    .inicio .contain-inicio {
      flex-direction: column; }
    .inicio .sec1-img-redes {
      padding: 1rem; }
    .inicio img {
      width: 220px; }
    .inicio .sec1-redes {
      font-size: 2rem; }
    .inicio .sec1-texto {
      margin-top: 2rem;
      text-align: center; }
      .inicio .sec1-texto h2 {
        font-size: 2.5rem; }
      .inicio .sec1-texto h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem; }
      .inicio .sec1-texto p {
        font-size: 1.3rem;
        margin-bottom: 2rem; }
      .inicio .sec1-texto a {
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem; }
  .sobre-mi h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 1.7rem; }
  .sobre-mi .seccion2 {
    font-size: 1.1rem;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0rem;
    gap: 1rem; }
    .sobre-mi .seccion2 .intereses {
      grid-template-columns: repeat(3, auto);
      gap: 0.7rem; }
      .sobre-mi .seccion2 .intereses h2 {
        font-size: 1.5rem;
        grid-column: 1/4; }
      .sobre-mi .seccion2 .intereses .inter {
        font-size: 1rem; }
  .habilidades {
    padding-bottom: 3rem; }
    .habilidades h2 {
      margin-top: 6rem;
      font-size: 1.7rem; }
    .habilidades .habilidad {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(1, auto); }
      .habilidades .habilidad .progreso-barra {
        width: 290px; }
    .habilidades .aptitud-text {
      margin-top: 2rem;
      font-size: 1.5rem; }
    .habilidades .aptitudes {
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      gap: 2rem;
      margin-top: 3rem; }
      .habilidades .aptitudes img {
        width: 60px; }
      .habilidades .aptitudes p {
        font-size: 1.1rem; }
  .proyectos h2 {
    padding-top: 6rem;
    font-size: 1.7rem; }
  .proyectos .proyectos-seccion {
    margin: 3rem 0;
    flex-direction: column; }
    .proyectos .proyectos-seccion .img-proyectos {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0rem 0rem; }
    .proyectos .proyectos-seccion .cartel {
      width: 100%;
      height: 210px;
      border-radius: 0rem 0rem 0.5rem 0.5rem; }
      .proyectos .proyectos-seccion .cartel h3 {
        font-size: 1.1rem; }
      .proyectos .proyectos-seccion .cartel .texto-sitio {
        font-size: 1rem;
        margin-top: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .grid-proyecto {
        grid-template-columns: repeat(3, auto);
        gap: 0.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto h4 {
          font-size: 1.1rem;
          grid-column: 1/4; }
        .proyectos .proyectos-seccion .cartel .grid-proyecto p {
          font-size: 0.5rem;
          padding: 0.5rem; }
      .proyectos .proyectos-seccion .cartel .visitar a {
        font-size: 1.1rem; }
  .contacto .contain h2 {
    font-size: 1.7rem; }
  .contacto .contain .button-contacto {
    flex-direction: column; }
  .contacto .contain p {
    text-align: center;
    font-size: 1.1rem; }
  .contacto .contain .btn {
    width: 11rem;
    height: 3rem; }
  .contacto .contain strong {
    font-size: 1.2rem; } }
