* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fondo-1: #0C0030;
    --fondo-2: #150445;

    --font-text: 'Questrial', sans-serif;
    --font-tittle: 'Krona One', sans-serif;
}


html {
    scroll-behavior: smooth;
}


.contain {
    width: 1600px;
}

// NAVBAR 

nav {
    background-color: #120439;
    height: 90px;

    display: flex;
    justify-content: center;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    .contain-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        font-family: var(--font-tittle);
        font-size: 40px;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .abrir-menu {
        display: none;
        background: none;
        border: none;
        color: white;
    }
    
        .menu-links {
            display: flex;
            color: white;
            gap: 2rem;
            font-family: var(--font-text);
            font-size: 23px;
            
            li {
                list-style-type: none;
            }
            a {
                color: white; 
                text-decoration: none;
                cursor: pointer;
                transition: 0.3s;  
            }
            a:hover {
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(184, 125, 255) 0%, rgb(104, 180, 255) 90% ); 
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        
        }
}



// SECCIÓN 1 - Inicio

.inicio {
    width: 100%;
    min-height: 100vh;
    background: var(--fondo-1);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    

    .contain-inicio {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        
    }
    .sec1-img-redes{
        margin-top: 5rem;
        text-align: center; 
        background-color: #150445;
        padding: 3.6rem;
        border-radius: 1rem;
    }
    .sec1-img {
        border: 10px solid #A5B1E0;
        border-radius: 100%;        
    }
    .sec1-redes {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        font-size: 50px;
        a {
            color: white;
            border: 1px solid white;
            border-radius: 100%;
            padding: 10px 15px;
            transition: 0.3s;
        }
        a:hover {
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% );
            }
    }

.sec1-texto {
    margin-top: 5rem;
    
    h2 {
        font-family: var(--font-tittle);
        font-size: 84px;
        margin-bottom: 30px;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3 {
        font-family: var(--font-text);
        font-size: 50px;
        margin-bottom: 30px;
    }
    p {
        font-family: var(--font-text);
        font-size: 35px;  
        margin-bottom: 60px;
    }
    a {
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 0.5em;
        padding: 1rem;
        font-family: var(--font-text);
        margin-right: 20px;
        font-size: 25px;
        transition: 0.3s;
    }
    a:hover {
        color: white;
        background: radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );    }
}

}



// SECCIÓN 2 - Sobre mi


.sobre-mi {
    width: 100%;
    min-height: 100vh;
    background: var(--fondo-2);

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: var(--font-tittle);
        font-size: 60px;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
        
    }

    .seccion2 {
        height: 600px;
        background: var(--fondo-1);
        color: white;
        padding: 3rem;
        border-radius: 1rem;
        font-size: 30px;
        font-family: var(--font-text);

        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            width: 80%;
        }
    }
    .intereses {
        display: grid;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        gap: 20px;
        margin-top: -1.5rem;
        

        h2 {
            font-size: 35px;
        }

        .inter {
            border: 1px solid white;
            border-radius: 1rem;
            padding: 0.5rem;     
            font-size: 25px;

            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            transition: 0.3s;
        }
        .inter:hover {
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(134, 74, 208) 0%, rgb(71, 141, 210) 90% ); 
            color: black;
        }
    }   
        
}






// SECCIÓN 3 - Habilidades

.habilidades {
    width: 100%;
    min-height: 100vh;
    background: var(--fondo-1);
    color: white;

    h2 {
        text-align: center;
        font-family: var(--font-tittle);
        font-size: 60px;
        background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 8rem;
        margin-bottom: 2rem;
    }

    .contain-habilidad {
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contain {
        margin: auto;
    }

    .habilidad {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
        
        .grid {
            margin-bottom: 20px;
        }

        h3 {
            font-family: var(--font-text);
            margin-bottom: 20px;
            font-size: 25px;
        }
        
        span {
            font-family: var(--font-text);
        }

        .progreso-barra {
            background-color: #A5B1E0;
            width: 733px;
            height: 10px;

            div {
                height: 10px;
                border-radius: 5px;
                width: 0%;
                background-color: antiquewhite;

                span {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: antiquewhite;
                    float: right;
                    margin-top: -15px;
                    margin-right: -20px;
                    color: black;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    }

        .html {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: html 1s linear forwards;
        }
        .css {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: css 1s linear forwards;   
        }
        .javascript {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: javascript 1s linear forwards;
        }
        .bootstrap {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: bootstrap 1s linear forwards;
        }
        .sass {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: sass 1s linear forwards;
        }
        .git {
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            animation: git 1s linear forwards;
        }

        @keyframes html {
            100% {
                width: 90%;
            }
        }
        @keyframes css {
            100% {
                width: 90%;
            }
        }
        @keyframes javascript {
            100% {
                width: 70%;
            }
        }
        @keyframes bootstrap {
            100% {
                width: 75%;
            }
        }
        @keyframes sass {
            100% {
                width: 75%;
            }
        }
        @keyframes git {
            100% {
                width: 65%;
            }
        }


        .aptitud-text {
            font-size: 30px;
            font-family: var(--font-tittle);
            margin-top: 5rem;
            border-bottom: 0.2px solid white;
        }
        
        .aptitudes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            
            margin-top: 5rem;
            
    
            img {
                width: 80px;
                margin-bottom: 10px;
            }
            p {
                font-family: var(--font-text); 
                font-size: 20px;
            }
        }

}






    // SECCION 4 - Proyectos


.proyectos {
    width: 100%;
    min-height: 100vh;
    background: var(--fondo-2);

    h2 {
        text-align: center;
        font-family: var(--font-tittle);
        font-size: 70px;
        background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 8rem;
    }

    .contain {
        margin: auto;
    }

    .img1 {
        display: flex;
        justify-content: start;
        margin-top: 4rem;
        margin-bottom: 5rem;
        .apple1 {
            width: 850px;
            height: 550px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0.5rem 0rem 0rem 0.5rem;
        }
        .cartel {
            width: 350px;
            background-color: rgba(0, 0, 0, 0.527);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0rem 0.5rem 0.5rem 0rem;
            color: white;

            padding: 1rem;

            .grid-proyecto {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }

        h3  {
            font-size: 25px;
            font-family: var(--font-tittle);
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            margin-top: 10px;
            }

            .texto-sitio1 {
                margin-top: 3rem;
                font-size: 18px;
            }

        h4 {
            margin-top: 3.5rem;
            margin-bottom: 1rem;
            font-family: var(--font-text); 
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: 300;
            }
            p {
                font-family: var(--font-text);
                text-align: center;
                padding: 0.5rem;

            }
            .html {
                background-color: rgb(255, 137, 2);
                
            }
            .css {
                background-color: rgb(5, 80, 229);
            }
            .javascript {
                background-color: #000000;
                i {
                    color: #ffe100;
                }
            }
            .sass {
                background-color: rgb(174, 86, 156);
            }
            .bootstrap {
                background-color: #220c61;
            }

            .visitar {
                display: flex;
                justify-content: center;
                margin-top: 4.2rem;
                gap: 3rem;

                a{
                color: white;
                text-decoration: none;
                font-family: var(--font-text); 
                font-size: 22px;
                }
                a:hover {
                    background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
            }
    }
        
}

    .img2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;

        .apple2 {
            width: 850px;
            height: 550px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0rem 0.5rem 0.5rem 0rem;
        }
        
        .cartel {
            width: 350px;
            background-color: rgba(0, 0, 0, 0.527);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0.5rem 0rem 0rem 0.5rem;
            color: white;
                        
            padding: 1rem;

            .grid-proyecto {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }

        h3  {
            font-size: 25px;
            font-family: var(--font-tittle);
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            margin-top: 10px;
            }

            .texto-sitio1 {
                margin-top: 3rem;
                font-size: 18px;
            }

        h4 {
            margin-top: 3.5rem;
            margin-bottom: 1rem;
            font-family: var(--font-text); 
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: 300;
            }
            p {
                font-family: var(--font-text);
                text-align: center;
                padding: 0.5rem;
            }
            .html {
                background-color: rgb(255, 137, 2);
            }
            .css {
                background-color: rgb(5, 80, 229);
            }
            .javascript {
                background-color: #000000;
                i {
                    color: #ffe100;
                }
            }
            .sass {
                background-color: rgb(174, 86, 156);
            }
            .bootstrap {
                background-color: #220c61;
            }

            .visitar {
                display: flex;
                justify-content: center;
                margin-top: 4.2rem;
                gap: 3rem;

                a{
                color: white;
                text-decoration: none;
                font-family: var(--font-text); 
                font-size: 22px;
                transition: 0.3s;
                }
                a:hover {
                background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                }
                
            }
    }
    }
    .img3 {
        display: flex;
        justify-content: start;
        margin-top: 5rem;
        padding-bottom: 5rem;

        .apple3 {
            width: 850px;
            height: 550px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0.5rem 0rem 0rem 0.5rem;
        }
        .cartel {
            width: 350px;
            background-color: rgba(0, 0, 0, 0.527);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
            border-radius: 0rem 0.5rem 0.5rem 0rem;
            color: white;

            padding: 1rem;

            .grid-proyecto {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }

        h3  {
            font-size: 25px;
            font-family: var(--font-tittle);
            background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            margin-top: 10px;
            }

            .texto-sitio1 {
                margin-top: 3rem;
                font-size: 18px;
            }

        h4 {
            margin-top: 3.5rem;
            margin-bottom: 1rem;
            font-family: var(--font-text); 
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: 300;
            }
            p {
                font-family: var(--font-text);
                text-align: center;
                padding: 0.5rem;

            }
            .html {
                background-color: rgb(255, 137, 2);
                
            }
            .css {
                background-color: rgb(5, 80, 229);
            }
            .javascript {
                background-color: #000000;
                i {
                    color: #ffe100;
                }
            }
            .sass {
                background-color: rgb(174, 86, 156);
            }
            .bootstrap {
                background-color: #220c61;
            }

            .visitar {
                display: flex;
                justify-content: center;
                margin-top: 4.2rem;
                gap: 3rem;

                a{
                color: white;
                text-decoration: none;
                font-family: var(--font-text); 
                font-size: 22px;
                }
                a:hover {
                    background-image: radial-gradient( circle farthest-corner at 30% 20%,  rgb(182, 123, 254) 0%, rgb(86, 170, 255) 90% ); 
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }
            }
    }
    }
}
        
    







// MEDIA QUERYS - 768PX

@media screen and (max-width: 768px) {

    // MENÚ HAMBURGUESA - 768px

    header {
    
        nav {
            gap: 12.2rem;
            height: 70px;

            .logo {
                font-size: 40px;
            }
            .abrir-menu {
                display: block;
                font-size: 40px;
            } 
            .menu-links {
                flex-direction: column;
                align-items: end;
                position: fixed;
                top: 70px;
                right: 0;
                padding: 1rem;
                
                background-color: #A5B1E0;

                height: calc(100% - 70px);
                margin: 0;

                right: 100%;
                transition: right 0.3s;
            }

            .nav-visible {
                right: 0;
            }
        }
    }
    


    // SECCION 1 - INDEX - 768PX

    .inicio {
        flex-direction: column;
        gap: 3rem;
        height: 1270px;
        margin-top: -2rem;

        img {
            width: 350px;
        }

        .sec-img-redes {
            padding: 10rem;     
        }
        .sec1-redes {
            font-size: 40px;
        }
        .sec1-texto {
            margin-top: 0rem;
            text-align: center;
            h2 {
                font-size: 65px;
            }
            h3 {
                font-size: 46px;
            }
            p{
                font-size: 36px;
            }
            a {
                margin: 0px 10px 0px 10px;
            }
        }
    }


    // SECCION 2 - SOBRE MI - 576PX

    .sobre-mi {
        height: 1000px;

        h2 {
            font-size: 55px;
            margin-top: 1rem;
        }

        .seccion2 {
            width: 82.5%;
            font-size: 20px;
            flex-direction: column;
            padding: 1.5rem;
            margin-top: -8rem;
            margin-left: 0.3rem;
            p {
                width: 100%;
                font-size: 22px;
            }
            .intereses {
                grid-template-columns: repeat(4,auto);

                .h2-intereses {
                    grid-column: 1/5;
                    text-align: center;
                    margin-top: 5.5rem;
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    // SECCION 3 - HABILIDADES - 576PX

    .habilidades {
        height: 1330px;

        h2 {
            font-size: 55px;
            margin-left: -0.4rem;
        }

        .habilidad {
            grid-template-columns: repeat(1,auto);
            justify-content: center;
            margin-left: 0;

            .progreso-barra {
                width: 630px;
                margin-left: 3px;
            }
        }

        .aptitud-text {
            text-align: center;
            margin-left: 4.5rem;
            margin-top: 3.5rem;
            width: 81.9%;
        }
        .aptitudes {
            gap: 4rem;
            display: grid;
            grid-template-columns: repeat(3, auto);
            margin-top: 3rem;

            img {
                width: 80px;
            }
            p {
                font-size: 20px;
            }
        }
    }


    // SECCION 4 PROYECTOS - 576PX

    .proyectos {
        height: 100%;

        h2 {
            font-size: 50px;
        }

        .img1 {
            display: grid;
            place-items: center;

            .apple1 {
                width: 632px;
                height: 470px;
                margin-left: 3px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 82.5%;
                height: 350px;
                margin-left: 4px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img2 {
            display: grid;
            place-items: center;

            .apple2 {
                width: 632px;
                height: 470px;
                margin-right: 4.1rem;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 84%;
                height: 350px;
                margin-right: 1.1rem;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img3 {
            display: grid;
            place-items: center;

            .apple3 {
                width: 500px;
                height: 370px;
                margin-left: 0;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 87%;
                height: 350px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }

        }

    }


}








// MEDIA QUERYS - 576PX

@media screen and (max-width: 576px) {

    // MENÚ HAMBURGUESA 

    header {
    
        nav {
            gap: 12.2rem;
            height: 70px;

            .logo {
                font-size: 30px;
            }
            .abrir-menu {
                display: block;
                font-size: 35px;
            } 
            .menu-links {
                flex-direction: column;
                align-items: end;
                position: fixed;
                top: 70px;
                right: 0;
                padding: 1rem;
                
                background-color: #A5B1E0;

                height: calc(100% - 70px);
                margin: 0;

                right: 100%;
                transition: right 0.3s;
            }

            .nav-visible {
                right: 0;
            }
        }
    }
    


    // SECCION 1 - INDEX - 576PX

    .inicio {
        flex-direction: column;
        gap: 3rem;
        height: 1080px;
        margin-top: -1.5rem;

        img {
            width: 250px;
        }

        .sec-img-redes {
            padding: 10rem;     
        }
        .sec1-redes {
            font-size: 40px;
        }
        .sec1-texto {
            margin-top: 0rem;
            text-align: center;
            h2 {
                font-size: 53px;
            }
            h3 {
                font-size: 34px;
            }
            p{
                font-size: 26px;
            }
            a {
                margin: 0px 10px 0px 10px;
            }
        }
    }


    // SECCION 2 - SOBRE MI - 576PX

    .sobre-mi {
        height: 1000px;

        h2 {
            font-size: 50px;
            margin-top: 2rem;
        }

        .seccion2 {
            width: 87.5%;
            font-size: 20px;
            flex-direction: column;
            padding: 1.5rem;
            margin-top: -6rem;
            p {
                width: 100%;
            }
            .intereses {
                grid-template-columns: repeat(3,auto);

                .h2-intereses {
                    grid-column: 1/4;
                    text-align: center;
                    margin-top: 5.5rem;
                    margin-bottom: 0.7rem;
                }
            }
        }
    }

    // SECCION 3 - HABILIDADES - 576PX

    .habilidades {
        height: 1300px;

        h2 {
            font-size: 50px;
            margin-left: -1.2rem;
        }

        .habilidad {
            grid-template-columns: repeat(1,auto);
            justify-content: center;
            margin-left: 0;

            .progreso-barra {
                width: 500px;
            }
        }

        .aptitud-text {
            text-align: center;
            margin-left: 3.5rem;
            margin-top: 3.5rem;
            width: 80%;
        }
        .aptitudes {
            gap: 4rem;
            display: grid;
            grid-template-columns: repeat(3, auto);
            margin-top: 3rem;

            img {
                width: 70px;
            }
            p {
                font-size: 18px;
            }
        }
    }


    // SECCION 4 PROYECTOS - 576PX

    .proyectos {
        height: 100%;

        h2 {
            font-size: 50px;
        }

        .img1 {
            display: grid;
            place-items: center;

            .apple1 {
                width: 500px;
                height: 370px;
                margin-left: 0;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 87%;
                height: 350px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img2 {
            display: grid;
            place-items: center;

            .apple2 {
                width: 500px;
                height: 370px;
                margin-right: 1.1rem;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 89.7%;
                height: 350px;
                margin-right: 1.1rem;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img3 {
            display: grid;
            place-items: center;

            .apple3 {
                width: 500px;
                height: 370px;
                margin-left: 0;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 87%;
                height: 350px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                .texto-sitio1 {
                    margin-top: 2rem;
                }
                h4 {
                    margin-top: 1.5rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }

        }

    }


}





// MEDIA QUERYS - 480PX

@media screen and (max-width: 480px) {

    // MENÚ HAMBURGUESA - 480px

    .contain {
        width: 450px;
    }
        nav {
            height: 70px;
            
            .logo {
                font-size: 30px;
            }
            .abrir-menu {
                display: block;
                font-size: 35px;
            } 
            .menu-links {
                flex-direction: column;
                align-items: end;
                position: fixed;
                top: 70px;
                right: 0;
                padding: 1rem;
                
                background-color: #A5B1E0;

                height: calc(100% - 70px);
                margin: 0;

                right: 100%;
                transition: right 0.3s;
            }
            .nav-visible {
                right: 0;
            }
        }
    
    

    // SECCION 1 - INDEX - 480PX

    .inicio {

        .contain-inicio {
        flex-direction: column;
        gap: 3rem;
        }
        
        img {
            width: 250px;
        }
        .sec-img-redes {
            padding: 10rem;     
        }
        .sec1-redes {
            font-size: 40px;
        }
        .sec1-texto {
            margin-top: 0rem;
            text-align: center;
            h2 {
                font-size: 50px;
            }
            h3 {
                font-size: 34px;
            }
            p{
                font-size: 24px;
            }
        }
    }


    // SECCION 2 - SOBRE MI - 480PX

    .sobre-mi {

        h2 {
            font-size: 40px;
            margin-top: 10rem;
        }

        .seccion2 {
            width: 100%;
            height: 800px;
            flex-direction: column;
            margin: auto;
            margin-top: -1rem;
            margin-bottom: 6rem;
        
            p {
                font-size: 19px;
            }
            .intereses {
                grid-template-columns: repeat(3,auto);
                gap: 0 20px 20px 20px;

                .h2-intereses {
                    grid-column: 1/4;
                    text-align: center;
                    margin-top: -7rem;
                    margin-bottom: 0px;
                }
                .inter {
                    font-size: 22px;
                }
            }
        }
    }

    // SECCION 3 - HABILIDADES - 480PX

    .habilidades {
        height: 1200px;

        h2 {    
            font-size: 40px;
            padding-top: 6rem;
            margin-bottom: 5rem;
        }

        .habilidad {
            grid-template-columns: repeat(1,auto);

            .progreso-barra {
                width: 445px;
            }
        }
        .aptitud-text {
            text-align: center;
            margin: auto;
            margin-top: 2rem;
            width: 100%;
            padding: 1rem;    
        }
        .aptitudes {
            gap: 2.7rem;
            display: grid;
            grid-template-columns: repeat(3, auto);
            margin-top: 3rem;     

            img {
                width: 60px;
            }
            p {
                font-size: 15px;
            }
        }
    }


    // SECCION 4 PROYECTOS - 480PX

    .proyectos {
        min-height: 100vh;

        h2 {
            font-size: 40px;
            padding-top: 6rem;
        }

        .img1 {

            .apple1 {
                width: 100%;
                height: 300px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 100%;
                height: 320px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                margin: auto;
                
                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;          
                }

                h3 {
                    margin-top: 0px;
                }

                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 20px;
                }
                h4 {
                    margin-top: 1.2rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img2 {

            .apple2 {
                width: 100%;
                height: 300px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
                margin: auto;
            }
            .cartel {
                width: 100%;
                height: 320px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                margin: auto;
                
                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                }

                h3 {
                    margin-top: 0px;
                }
                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 20px;
                }
                h4 {
                    margin-top: 1.2rem;
                }
                .visitar {
                    margin-top: 2.5rem;
                }
            }
        }

        .img3 {
            display: grid;
            place-items: center;

            .apple3 {
                width: 100%;
                height: 300px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 100%;
                height: 320px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 15px;
                        padding: 5px 7px;
                    }
                }

                h3 {
                    margin-top: 0px;
                }

                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 20px;
                }
                h4 {
                    margin-top: 1.2rem;
                }
                .visitar {
                    margin-top: 3.7rem;
                }
            }

        }

    }


}





// MEDIA QUERYS - 320PX - 360px

@media screen and (min-width: 320px) and (max-width: 360px) {

    .contain {
        width: 100%;
    }
    header {
    
        nav {
            height: 70px;
            
            .logo {
                font-size: 25px;
            }
            
            .contain-nav {
                justify-content: space-around;
                gap: 5rem;
            }

            .abrir-menu {
                display: block;
                font-size: 35px;
            } 
            .menu-links {
                flex-direction: column;
                align-items: end;
                position: fixed;
                top: 70px;
                right: 0;
                padding: 1rem;
                
                background-color: #A5B1E0;

                height: calc(100% - 70px);
                margin: 0;

                right: 100%;
                transition: right 0.3s;
            }
            .nav-visible {
                right: 0;
            }
        }
    }
    
    

    // SECCION 1 - INDEX - 320PX - 360PX

    .inicio {
        height: 900px;

        .contain-inicio {
        flex-direction: column;
        gap: 3rem;
        }
        
        img {
            width: 200px;
        }
        .sec1-img-redes {
            padding: 1.5rem;     
        }
        .sec1-redes {
            font-size: 30px;
        }
        .sec1-texto {
            margin-top: 0rem;
            text-align: center;
            h2 {
                font-size: 40px;
            }
            h3 {
                font-size: 24px;
            }
            p{
                font-size: 16px;
            }
            a {
                font-size: 18px;
            }
        }
    }


    // SECCION 2 - SOBRE MI - 320PX - 360PX

    .sobre-mi {

        h2 {
            font-size: 30px;
            margin-top: 10rem;
        }

        .seccion2 {
            width: 93%;
            height: 800px;
            flex-direction: column;
            margin-top: -1rem;
            margin-bottom: 6rem;
        
            p {
                font-size: 17px;
            }
            .intereses {
                grid-template-columns: repeat(3,auto);
                gap: 0 20px 20px 20px;

                .h2-intereses {
                    grid-column: 1/4;
                    text-align: center;
                    margin-top: -2rem;
                    margin-bottom: 0px;
                    font-size: 30px;
                }
                .inter {
                    font-size: 15px;
                }
            }
        }
    }

    // SECCION 3 - HABILIDADES - 320PX - 360PX

    .habilidades {
        height: 1200px;

        h2 {    
            font-size: 30px;
            padding-top: 6rem;
            margin-bottom: 5rem;
            margin: auto;
        }

        .habilidad {
            grid-template-columns: repeat(1,auto);

            .progreso-barra {
                width: 295px;
            }
        }
        .aptitud-text {
            text-align: center;
            margin: auto;
            margin-top: 2rem;
            width: 90%;
            padding: 1rem; 
            font-size: 25px;   
        }
        .aptitudes {
            gap: 1rem;
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: space-around;
            margin-top: 3rem;     

            img {
                width: 40px;
            }
            p {
                font-size: 16px;
            }
        }
    }


    // SECCION 4 PROYECTOS - 320PX - 360PX

    .proyectos {
        min-height: 100vh;

        h2 {
            font-size: 30px;
            padding-top: 6rem;
        }

        .img1 {

            .apple1 {
                width: 93%;
                height: 200px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 93%;
                height: 290px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                margin: auto;
                
                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    
                    p {
                        font-size: 12px;
                    }
                }

                h3 {
                    margin-top: 0px;
                    font-size: 20px;
                }

                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 16px;
                }
                h4 {
                    margin-top: 1.2rem;
                    font-size: 18px;
                }
                .visitar {
                    margin-top: 2.5rem;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }

        .img2 {

            .apple2 {
                width: 93%;
                height: 200px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
                margin: auto;
            }
            .cartel {
                width: 93%;
                height: 290px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                margin: auto;
                
                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    
                    p {
                        font-size: 12px;
                    }
                }

                h3 {
                    margin-top: 0px;
                    font-size: 20px;
                }

                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 16px;
                }
                h4 {
                    margin-top: 1.2rem;
                    font-size: 18px;
                }
                .visitar {
                    margin-top: 2.5rem;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }

        .img3 {
            display: grid;
            place-items: center;

            .apple3 {
                width: 93%;
                height: 200px;
                border-radius: 0.5rem 0.5rem 0rem 0rem;
            }
            .cartel {
                width: 93%;
                height: 290px;
                border-radius: 0rem 0rem 0.5rem 0.5rem;
                

                .grid-proyecto {
                    grid-template-columns: repeat(3, auto);
                    gap: 15px;
                    p {
                        font-size: 12px;
                    }
                }

                h3 {
                    margin-top: 0px;
                    font-size: 20px;
                }

                .texto-sitio1 {
                    margin-top: 1rem;
                    font-size: 16px;
                }
                h4 {
                    margin-top: 1.2rem;
                    font-size: 18px;
                }
                .visitar {
                    margin-top: 2.5rem;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}